
flax==0.7.5
gymnax==0.0.6
ipykernel==6.28.0
gymnasium==0.29.1
distrax==0.1.5
pygame==2.5.2
matplotlib==3.8.2
--pre
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]==0.4.23
